services:

  zipkin:
    image: 'openzipkin/zipkin:latest'
    ports:
      - 9411:9411

  postgres:
    image: postgres:latest
    restart: unless-stopped
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: bookdb
    networks:
      - internal
    volumes:
      - postgres:/data/postgres
    ports:
      - 5432:5432

  db-service:
    build:
      context: ./db-service
    ports:
      - 8084:8084
    networks:
      - internal
    environment:
      POSTGRES_PORT: 5432
      POSTGRES_DB: bookdb
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
    depends_on:
      - postgres
      - zipkin



  pgadmin:
    image: dpage/pgadmin4
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: dev@fateh.org.uk
      PGADMIN_DEFAULT_PASSWORD: pgadminpassword
    networks:
      - internal
    ports:
      - 5050:80
    volumes:
      - pgadmin:/var/lib/pgadmin
    depends_on:
      - postgres
      - db-service
      - zipkin


  auth-service:
    build:
      context: ./auth-service
    ports:
      - 8082:8082
    networks:
      - internal
    depends_on:
      - db-service
      - postgres
      - zipkin


  student-ms:
    build:
      context: ./student-ms
    ports:
      - 8083:8083
    networks:
      - internal
    depends_on:
      - db-service
      - auth-service
      - postgres
      - zipkin


  author-ms:
    build:
      context: ./author-ms
    ports:
      - 8085:8085
    networks:
      - internal
    depends_on:
      - auth-service
      - db-service
      - postgres
      - zipkin

  gateway-service:
    build:
      context: ./gateway-service
    restart: unless-stopped
    networks:
      - internal
    ports:
      - 8081:8081
    depends_on:
      - auth-service
      - db-service
      - postgres
      - zipkin


  discovery-service:
    build:
      context: ./discovery-service
    ports:
      - 8761:8761
    networks:
        - internal
    depends_on:
      - db-service
      - auth-service
      - postgres
      - zipkin
      - gateway-service
      - pgadmin


networks:
  internal:
    driver: bridge

volumes:
  postgres:
  pgadmin: